@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  background-color:#9c27b0 !important ;
  color: white !important;
  
}

.NavBarFont{
  font-family: 'Lobster', cursive !important;
}




